body,
h1,
h2,
h3,
h4,
p,
ul,
li,
button,
section,
span,
div,
aside,
header,
footer {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Inter', 'Noto Sans JP';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}